<section class="section" id="trainers">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 offset-lg-3">
                      <div class="section-heading">
                          <h2>Best  <em> Drinks & Food</em></h2>
                          <img src="assets/images/line-dec.png" alt="">
                          <p>This is top category of food that help to be Fitness.</p>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-4">
                      <div class="trainer-item">
                          <div class="image-thumb">
                              <img src="assets/images/detox2.jpg" alt="">
                          </div>
                          <div class="down-content">
                              <span>Detox</span>
                              <h4>water with lime and mints</h4>
                              <p>help to increase the amounts of fluids in our body during diet time, which help to keep pressur blood in body.</p>
                              <ul class="social-icons">
                                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="trainer-item">
                          <div class="image-thumb">
                              <img src="assets/images/fru1.jpg" alt="">
                          </div>
                          <div class="down-content">
                              <span>Fruit</span>
                              <h4>Different kind of fruit</h4>
                              <p>Eats differert kinds of fruit is very important during the main meals, to provide your body with natural sugar.</p>
                              <ul class="social-icons">
                                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="trainer-item">
                          <div class="image-thumb">
                              <img src="assets/images/meat.jpg" alt="">
                          </div>
                          <div class="down-content">
                              <span>Meat</span>
                              <h4>full of protein</h4>
                              <p>Protein is an important part of a healthy diet. Proteins are made up of chemical 'building blocks' called amino acids.</p>
                              <ul class="social-icons">
                                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>