<app-admnavbar></app-admnavbar>
<app-admsidebar></app-admsidebar>
<div _ngcontent-epj-c107="" class="card">
    <div _ngcontent-epj-c107="" class="card-header">
        <h3 _ngcontent-epj-c107="" class="card-title"><i _ngcontent-epj-c107="" class="ion ion-clipboard mr-1"></i> To
            Do List </h3>
        <div _ngcontent-epj-c107="" class="card-tools">
            <ul _ngcontent-epj-c107="" class="pagination pagination-sm">
                <li _ngcontent-epj-c107="" class="page-item"><a _ngcontent-epj-c107="" href="#" class="page-link">«</a>
                </li>
                <li _ngcontent-epj-c107="" class="page-item"><a _ngcontent-epj-c107="" href="#" class="page-link">1</a>
                </li>
                <li _ngcontent-epj-c107="" class="page-item"><a _ngcontent-epj-c107="" href="#" class="page-link">2</a>
                </li>
                <li _ngcontent-epj-c107="" class="page-item"><a _ngcontent-epj-c107="" href="#" class="page-link">3</a>
                </li>
                <li _ngcontent-epj-c107="" class="page-item"><a _ngcontent-epj-c107="" href="#" class="page-link">»</a>
                </li>
            </ul>
        </div>
    </div>
    <div _ngcontent-epj-c107="" class="card-body">
        <ul _ngcontent-epj-c107="" data-widget="todo-list" class="todo-list">
            <li _ngcontent-epj-c107=""><span _ngcontent-epj-c107="" class="handle"><i _ngcontent-epj-c107=""
                        class="fas fa-ellipsis-v"></i><i _ngcontent-epj-c107="" class="fas fa-ellipsis-v"></i></span>
                <div _ngcontent-epj-c107="" class="icheck-primary d-inline ml-2"><input _ngcontent-epj-c107=""
                        type="checkbox" value="" name="todo1" id="todoCheck1"><label _ngcontent-epj-c107=""
                        for="todoCheck1"></label></div><span _ngcontent-epj-c107="" class="text">Design a nice
                    theme</span><small _ngcontent-epj-c107="" class="badge badge-danger"><i _ngcontent-epj-c107=""
                        class="far fa-clock"></i> 2 mins</small>
                <div _ngcontent-epj-c107="" class="tools"><i _ngcontent-epj-c107="" class="fas fa-edit"></i><i
                        _ngcontent-epj-c107="" class="fas fa-trash-o"></i></div>
            </li>
            <li _ngcontent-epj-c107="" class="done"><span _ngcontent-epj-c107="" class="handle"><i
                        _ngcontent-epj-c107="" class="fas fa-ellipsis-v"></i><i _ngcontent-epj-c107=""
                        class="fas fa-ellipsis-v"></i></span>
                <div _ngcontent-epj-c107="" class="icheck-primary d-inline ml-2"><input _ngcontent-epj-c107=""
                        type="checkbox" value="" name="todo2" id="todoCheck2" checked=""><label _ngcontent-epj-c107=""
                        for="todoCheck2"></label></div><span _ngcontent-epj-c107="" class="text">Make the theme
                    responsive</span><small _ngcontent-epj-c107="" class="badge badge-info"><i _ngcontent-epj-c107=""
                        class="far fa-clock"></i> 4 hours</small>
                <div _ngcontent-epj-c107="" class="tools"><i _ngcontent-epj-c107="" class="fas fa-edit"></i><i
                        _ngcontent-epj-c107="" class="fas fa-trash-o"></i></div>
            </li>
            <li _ngcontent-epj-c107=""><span _ngcontent-epj-c107="" class="handle"><i _ngcontent-epj-c107=""
                        class="fas fa-ellipsis-v"></i><i _ngcontent-epj-c107="" class="fas fa-ellipsis-v"></i></span>
                <div _ngcontent-epj-c107="" class="icheck-primary d-inline ml-2"><input _ngcontent-epj-c107=""
                        type="checkbox" value="" name="todo3" id="todoCheck3"><label _ngcontent-epj-c107=""
                        for="todoCheck3"></label></div><span _ngcontent-epj-c107="" class="text">Let theme shine like a
                    star</span><small _ngcontent-epj-c107="" class="badge badge-warning"><i _ngcontent-epj-c107=""
                        class="far fa-clock"></i> 1 day</small>
                <div _ngcontent-epj-c107="" class="tools"><i _ngcontent-epj-c107="" class="fas fa-edit"></i><i
                        _ngcontent-epj-c107="" class="fas fa-trash-o"></i></div>
            </li>
            <li _ngcontent-epj-c107=""><span _ngcontent-epj-c107="" class="handle"><i _ngcontent-epj-c107=""
                        class="fas fa-ellipsis-v"></i><i _ngcontent-epj-c107="" class="fas fa-ellipsis-v"></i></span>
                <div _ngcontent-epj-c107="" class="icheck-primary d-inline ml-2"><input _ngcontent-epj-c107=""
                        type="checkbox" value="" name="todo4" id="todoCheck4"><label _ngcontent-epj-c107=""
                        for="todoCheck4"></label></div><span _ngcontent-epj-c107="" class="text">Let theme shine like a
                    star</span><small _ngcontent-epj-c107="" class="badge badge-success"><i _ngcontent-epj-c107=""
                        class="far fa-clock"></i> 3 days</small>
                <div _ngcontent-epj-c107="" class="tools"><i _ngcontent-epj-c107="" class="fas fa-edit"></i><i
                        _ngcontent-epj-c107="" class="fas fa-trash-o"></i></div>
            </li>
            <li _ngcontent-epj-c107=""><span _ngcontent-epj-c107="" class="handle"><i _ngcontent-epj-c107=""
                        class="fas fa-ellipsis-v"></i><i _ngcontent-epj-c107="" class="fas fa-ellipsis-v"></i></span>
                <div _ngcontent-epj-c107="" class="icheck-primary d-inline ml-2"><input _ngcontent-epj-c107=""
                        type="checkbox" value="" name="todo5" id="todoCheck5"><label _ngcontent-epj-c107=""
                        for="todoCheck5"></label></div><span _ngcontent-epj-c107="" class="text">Check your messages and
                    notifications</span><small _ngcontent-epj-c107="" class="badge badge-primary"><i
                        _ngcontent-epj-c107="" class="far fa-clock"></i> 1 week</small>
                <div _ngcontent-epj-c107="" class="tools"><i _ngcontent-epj-c107="" class="fas fa-edit"></i><i
                        _ngcontent-epj-c107="" class="fas fa-trash-o"></i></div>
            </li>
            <li _ngcontent-epj-c107=""><span _ngcontent-epj-c107="" class="handle"><i _ngcontent-epj-c107=""
                        class="fas fa-ellipsis-v"></i><i _ngcontent-epj-c107="" class="fas fa-ellipsis-v"></i></span>
                <div _ngcontent-epj-c107="" class="icheck-primary d-inline ml-2"><input _ngcontent-epj-c107=""
                        type="checkbox" value="" name="todo6" id="todoCheck6"><label _ngcontent-epj-c107=""
                        for="todoCheck6"></label></div><span _ngcontent-epj-c107="" class="text">Let theme shine like a
                    star</span><small _ngcontent-epj-c107="" class="badge badge-secondary"><i _ngcontent-epj-c107=""
                        class="far fa-clock"></i> 1 month</small>
                <div _ngcontent-epj-c107="" class="tools"><i _ngcontent-epj-c107="" class="fas fa-edit"></i><i
                        _ngcontent-epj-c107="" class="fas fa-trash-o"></i></div>
            </li>
        </ul>
    </div>
    <div _ngcontent-epj-c107="" class="card-footer clearfix"><button _ngcontent-epj-c107="" type="button"
            class="btn btn-info float-right"><i _ngcontent-epj-c107="" class="fas fa-plus"></i> Add item</button></div>
</div>
<app-admfooter></app-admfooter>