
<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <video autoplay muted loop id="bg-video">
        <source src="assets/images/diet-video.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <h6>{{infoS.data[0].backgroundImage}} </h6>
            <h2><em>{{infoS.data[0].logo}}</em></h2>
            <div class="main-button scroll-to-section">
                <a href="#features">Join Us</a>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
