

      <div class="row align-items-center justify-content-center">
          <table mat-table [dataSource]="userS.data" class="mat-elevation-z8 demo-table">
                <ng-container matColumnDef="firstName">
                      <th mat-header-cell *matHeaderCellDef> FirstName </th>
                      <td mat-cell *matCellDef="let element"> {{element.firstName}}</td>
                </ng-container>
    
                <ng-container matColumnDef="lastName">
                      <th mat-header-cell *matHeaderCellDef> LastName </th>
                      <td mat-cell *matCellDef="let element"> {{element.lastName}}</td>
                </ng-container>
    
                <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef> Email </th>
                      <td mat-cell *matCellDef="let element"> {{element.email}}</td>
                </ng-container>
    
                <ng-container matColumnDef="gender">
                      <th mat-header-cell *matHeaderCellDef> Gender </th>
                      <td mat-cell *matCellDef="let element"> {{element.gender}}</td>
                </ng-container>
    
                <ng-container matColumnDef="phoneNumber1">
                      <th mat-header-cell *matHeaderCellDef> Mobile </th>
                      <td mat-cell *matCellDef="let element"> {{element.phoneNumber1}}</td>
                </ng-container>
                <ng-container matColumnDef="dateOfBirth">
                      <th mat-header-cell *matHeaderCellDef> Birthday </th>
                      <td mat-cell *matCellDef="let element"> {{element.dateOfBirth |  date:'yyyy-MM-dd'}}</td>
                </ng-container>
                <ng-container matColumnDef="country">
                      <th mat-header-cell *matHeaderCellDef> Country </th>
                      <td mat-cell *matCellDef="let element"> {{element.country}}</td>
                </ng-container>
                <ng-container matColumnDef="city">
                      <th mat-header-cell *matHeaderCellDef> City </th>
                      <td mat-cell *matCellDef="let element"> {{element.city}}</td>
                </ng-container>
    
                <ng-container matColumnDef="delete">
                      <th mat-header-cell *matHeaderCellDef> delete </th>
                      <td mat-cell *matCellDef="let element" (click)="userS.DeleteClientbyID(element.userID)"> delete </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
                <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="4">There are no users</td>
                </tr>
          </table>
          <div>