.demo-table {
          width: 50%;
        }
        
        th {
          font-size: 15px;
          text-align: center;
        
        }
        
       
        
        .mat-column-firstName {
          width: 30px;
          padding-right: 24px;
          text-align: center;
        }
        
        .mat-column-lastName {
          width: 30px;
          padding-right: 24px;
          text-align: center;
        }
        
        .mat-column-email {
          width: 30px;
          padding-right: 24px;
          text-align: center;
        }
        
        .mat-column-gender {
          width: 30px;
          padding-right: 24px;
          text-align: center;
        }
        .mat-column-phoneNumber1 {
          width: 30px;
          padding-right: 24px;
          text-align: center;
        }
        .mat-column-dateOfBirth {
          width: 30px;
          padding-right: 24px;
          text-align: center;
        }
        .mat-column-country {
          width: 30px;
          padding-right: 24px;
          text-align: center;
        }
        .mat-column-city {
          width: 30px;
          padding-right: 24px;
          text-align: center;
        }
        .mat-column-position {
          width: 30px;
          padding-right: 24px;
          text-align: center;
        }
        .mat-column-salary {
          width: 30px;
          padding-right: 24px;
          text-align: center;
        }
      
        
        .mat-row .mat-cell {
          border-bottom: 2px solid transparent;
        
          border-top: 3px solid transparent;
        
        }
        
        .mat-row:hover .mat-cell {
          border-color: currentColor;
        }
        
        .demo-row-is-clicked {
          font-weight: bold;
        }
        