<app-admnavbar></app-admnavbar>
<app-admsidebar></app-admsidebar>
<div _ngcontent-tfm-c107="" class="col-lg-3 col-6">
    <div _ngcontent-tfm-c107="" class="small-box bg-warning">
        <div _ngcontent-tfm-c107="" class="inner">
            <h3 _ngcontent-tfm-c107="">44</h3>
            <p _ngcontent-tfm-c107="">User Registrations</p>
        </div>
        <div _ngcontent-tfm-c107="" class="icon"><i _ngcontent-tfm-c107="" class="ion ion-person-add">

            </i></div>
        <a _ngcontent-tfm-c107="" href="#" class="small-box-footer">More info
            <i _ngcontent-tfm-c107="" class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>
<app-admfooter></app-admfooter>