<div class="my-container">
<form class="login" (submit)="authService.submit()">
	<mat-form-field class="example-full-width">
		<mat-label class="label2">Email</mat-label>
		<input type="email"  matInput [formControl]="authService.email" placeholder="Ex. pat@example.com">
		<mat-error *ngIf="authService.email.hasError('email') && !authService.email.hasError('required')">
		  Please enter a valid email address
		</mat-error>
		 <mat-error *ngIf="authService.email.hasError('required')">
		  Email is <strong>required</strong>
		</mat-error>
	        </mat-form-field>
	        <br>


	        <mat-form-field class="example-full-width">
		<mat-label class="label2">Password</mat-label>
		<input type="password"  matInput [formControl]="authService.password" >
		<mat-error *ngIf="authService.password.hasError('minlength') && !authService.password.hasError('required')">
		 Please Enter Strong Password
		</mat-error>
		<mat-error *ngIf="authService.password.hasError('required')">
		  Password is <strong>required</strong>
		</mat-error>
	        </mat-form-field>
	        <br>

	        
	        <button type="submit" [disabled]="!authService.email.valid ||!authService.password.valid">Login</button>
        </form>
        

</div>