<!-- <section class="section" id="schedule"> -->
          <!-- <div class="container">
              <div class="row">
                  <div class="col-lg-6 offset-lg-3">
                      <div class="section-heading dark-bg">
                          <h2>Diet <em>Report</em></h2>
                          <img src="assets/images/line-dec.png" alt="">
                          <p>diet report help you to follow the istraction that help you to get the body that have been dream all previous years, so you need to follow up and you will be a fitness next few weeks</p>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-12">
                      <div class="filters">
                          <ul class="schedule-filter">
                            <li class="active" data-tsfilter="saturday">Saturday</li>
                            <li data-tsfilter="sunday">Sunday</li>
                            <li data-tsfilter="monday">Monday</li>
                            <li data-tsfilter="tuesday">Tuesday</li>
                            <li data-tsfilter="wednesday">Wednesday</li>
                            <li data-tsfilter="thursday">Thursday</li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-10 offset-lg-1">
                      <div class="schedule-table filtering">
                          <table>
                              <tbody>
                                  <tr>
                                      <td class="day-time">Fitness Class</td>
                                      <td class="saturday ts-item show" data-tsmeta="saturday">vegetable salad </td>
                                      <td class="saturdayts-item" data-tsmeta="saturday"> checken Soup </td>
                                      <td>1 cup Yoghurt</td>
                                  </tr>
                                  <tr>
                                      <td class="day-time">Muscle Training</td>
                                      <td class="sundayts-item" data-tsmeta="sunday"> 2 Egg's </td>
                                      <td class="sundayts-item" data-tsmeta="sunday">1 peice of Pizza</td>
                                      <td>2 type of fruit middle size</td>
                                  </tr>
                                  <tr>
                                      <td class="day-time">Body Building</td>
                                      <td class="mondayts-item" data-tsmeta="monday">1 cup of coffee and 1 toast</td>
                                      <td class="monday ts-item show" data-tsmeta="monday">2 middle piece of fish</td>
                                      <td>1 cup of tea "no sugure"</td>
                                  </tr>
                                  <tr>
                                      <td class="day-time">Yoga Training Class</td>
                                      <td class="tuesdayts-item" data-tsmeta="tuesday">1 tsp of honey with one toast</td>
                                      <td class="tuesdayts-item" data-tsmeta="tuesday">1 cup of Rice</td>
                                      <td>2 middle size of fruit</td>
                                  </tr>
                                  <tr>
                                      <td class="day-time">Advanced Training</td>
                                      <td class="thursdayts-item" data-tsmeta="thursday">1 peice of cake</td>
                                      <td class="thursdayts-item" data-tsmeta="thursday">Salad</td>
                                      <td>1 cup Yoghurt</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div> -->

          <!-- <div id="carouselExampleIndicators" class="carousel carousel-dark slide container mx-auto my-10  h-80" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div *ngFor="let testimonial of this.reviewS.data" class="carousel-item"
                 data-bs-interval="3000">
          
                <div class="bg-commo position-relative text-center">
                  <div class="author-img mt-4">

                  <div class="py-4 px-5 rounded">
                    <p class="testi-text"><strong>{{testimonial.name}}!</strong><br /></p>
                    <h4 class="testi-heading pt-1 mb-1">{{testimonial.name}}</h4>
                    <p class="mb-1 small font-medium hh text-uppercase text-muted">Customer</p>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div> -->


          <div class="bd-example">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let testimonial of this.reviewS.data2" [ngClass]="{'active': testimonial.reviewId==8}">
                  <img src="../../../assets/images/cta-bg.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5 class="py-2">{{testimonial.name}} </h5>
                    <h5><span class="fa fa-star mr-3"></span>{{testimonial.reviewValue}}<span class="fa fa-star ml-3"></span>
                    </h5>

                    <p class="py-4">  {{testimonial.comment}} </p>
                  </div>
                </div>                              
              </div>
              <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>

          