<section class="section" id="our-classes">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 offset-lg-3">
                      <div class="section-heading">
                          <h2>Our <em>Classes</em></h2>
                          <img src="assets/images/line-dec.png" alt="">
                          <p>Nunc urna sem, laoreet ut metus id, aliquet consequat magna. Sed viverra ipsum dolor, ultricies fermentum massa consequat eu.</p>
                      </div>
                  </div>
              </div>
              <div class="row" id="tabs">
                <div class="col-lg-4">
                  <ul>
                    <li><a href='#tabs-1'><img src="assets/images/tabs-first-icon.png" alt="">First Training Class</a></li>
                    <li><a href='#tabs-2'><img src="assets/images/tabs-first-icon.png" alt="">Second Training Class</a></li>
                    <li><a href='#tabs-3'><img src="assets/images/tabs-first-icon.png" alt="">Third Training Class</a></li>
                    <li><a href='#tabs-4'><img src="assets/images/tabs-first-icon.png" alt="">Fourth Training Class</a></li>
                    <div class="main-rounded-button"><a href="#">View All Schedules</a></div>
                  </ul>
                </div>
                <div class="col-lg-8">
                  <section class='tabs-content'>
                    <article id='tabs-1'>
                      <img src="assets/images/training-image-01.jpg" alt="First Class">
                      <h4>First Training Class</h4>
                      <p>Phasellus convallis mauris sed elementum vulputate. Donec posuere leo sed dui eleifend hendrerit. Sed suscipit suscipit erat, sed vehicula ligula. Aliquam ut sem fermentum sem tincidunt lacinia gravida aliquam nunc. Morbi quis erat imperdiet, molestie nunc ut, accumsan diam.</p>
                      <div class="main-button">
                          <a href="#">View Schedule</a>
                      </div>
                    </article>
                   
                  </section>
                </div>
              </div>
          </div>
      </section>