<header class="header-area header-sticky">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <nav class="main-nav">
                          <!-- ***** Logo Start ***** -->
                          <a href="index.html" class="logo">{{infoS.data[0].webSiteName}}</a>
                          <!-- ***** Logo End ***** -->
                          <!-- ***** Menu Start ***** -->
                          <ul class="nav">
                              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                              <li class="scroll-to-section"><a (click)='goToAboutUs()'>About</a></li>
                              <li *ngIf="authS.isLoggedIn()" class="scroll-to-section"><a (click)='goToAboutUs()'>Dashboard</a></li>
        
                              <li *ngIf="!authS.isLoggedIn()" class="main-button"><a (click)='goToLogin()'>Login</a></li>
                              <li *ngIf="authS.isLoggedIn()" class="main-button"><a (click)='logout()'>Logout</a></li>
        
                          </ul>        
                          <a class='menu-trigger'>
                              <span>Menu</span>
                          </a>
                          <!-- ***** Menu End ***** -->
                      </nav>
                  </div>
              </div>
          </div>
        </header>
        <!-- ***** Header Area End ***** -->