<header class="header-area header-sticky">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="index.html" class="logo">{{infoS.data[0].webSiteName}}</a>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">

                      <li class="scroll-to-section"><a (click)='goToHome()' class="active" style="cursor: pointer;">Home</a></li>
                      <li class="scroll-to-section"><a (click)='goToAboutUs()' style="cursor: pointer;">About</a></li>
                      <li *ngIf="authS.isLoggedIn()" class="scroll-to-section" style="cursor: pointer;"><a (click)='goToDashboard()'>Dashboard</a></li>
                      <li class="scroll-to-section"><a (click)='goToDiet()'style="cursor: pointer;">Generate Diet</a></li>

                      <li *ngIf="!authS.isLoggedIn()" class="main-button" style="cursor: pointer;"><a (click)='goToLogin()'>Login</a></li>
                      <li *ngIf="authS.isLoggedIn()" class="main-button" style="cursor: pointer;"><a (click)='logout()'>Logout</a></li>

                  </ul>        
                  <a class='menu-trigger'>
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
              </nav>
          </div>
      </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->