@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

#call-to-action {
          padding: 50px 0px;
          background-image: url(../../../assets/images/forr.jpg);
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          text-align: center;
        }
        
        .cta-content h2 {
          font-size: 36px;
          text-transform: uppercase;
          font-weight: 800;
          color: #fff;
          letter-spacing: 1px;
        }
        
        .cta-content h2 em {
          font-style: normal;
          color: #ed563b;
        }
        
        .cta-content p {
          font-size: 16px;
          color: #fff;
          margin: 15px 0px 25px 0px;
        }

        .main-button  {
          display: inline-block;
          font-size: 15px;
          padding: 12px 20px;
          background-color: #ed563b;
          color: #fff;
          text-align: center;
          font-weight: 400;
          text-transform: uppercase;
          transition: all .3s;
          cursor: pointer;
        }
        
        .main-button:hover {
          background-color: #f9735b;
        }
        
        @media (max-width: 992px) {
        
          .main-banner .caption h2 {
            font-size: 64px;
          }
          #features {
            margin-bottom: 110px;
          }
          #features .feature-item {
            margin-bottom: 30px;
          }
          #our-classes .tabs-content {
            margin-left: 0px;
            margin-top: 30px;
          }
          .trainer-item {
            margin-bottom: 30px;
          }
          #contact-us #map {
            margin-bottom: -7px;
          }
          #contact-us .contact-form {
            padding: 30px;
          }
          #contact-us .contact-form #contact {
            padding: 30px;
          }
        
        }
        
        @media (max-width: 450px) {
          .feature-item .right-content a.text-button {
            margin-left: 130px;
          }
        }

   


fieldset,
label {
    margin: 0;
    padding: 0
}



h1 {
    font-size: 1.5em;
    margin: 10px
}

.rating {
    border: none;
    margin-right: 49px
}

.myratings {
    font-size: 60px;
    color: #ffd584
}

.rating > [id^="star"] {
    display: none
}

.rating > label:before {
    margin: 5px;
    font-size: 2.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005"
}

.rating > .half:before {
    content: "\f089";
    position: absolute
}

.rating > label {
    color: #ddd;
    float: right
}

.rating > [id^="star"]:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #FFD700
}

    .rating > [id^="star"]:checked + label:hover,
    .rating > [id^="star"]:checked ~ label:hover,
    .rating > label:hover ~ [id^="star"]:checked ~ label,
    .rating > [id^="star"]:checked ~ label:hover ~ label {
        color: #FFED85
    }

.reset-option {
    display: none
}

.reset-button {
    margin: 6px 12px;
    background-color: rgb(255, 255, 255);
    text-transform: uppercase
}

.mt-100 {
    margin-top: 100px
}

.rate-card{
    position: relative;
    display: flex;
    width: 350px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 11px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
}

    .rate-card .rate-body {
        padding: 1rem 1rem
    }

.rate-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

    .rate-body  p {
        font-size: 14px
    }

    .rate-body h4 {
        margin-top: 18px
    }

    .rate-body .btn:focus {
        outline: none
    }

    .rate-body form .btn {
        border-radius: 22px;
        text-transform: capitalize;
        font-size: 13px;
        padding: 8px 19px;
        cursor: pointer;
        color: #fff;
        background-color: #D50000
    }

        .rate-body form .btn:hover {
            background-color: #D32F2F !important
        }

        
        