<!-- ***** about us body Item Start ***** -->
<section class="section" id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>know more <em> about Program Diet</em></h2>
                    <img src="assets/images/line-dec.png" alt="waves">
                    <p>as we know diet is more we think about, so you need to know more about diet and what is the best
                        one for you.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="features-items">
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="assets/images/sports.png" alt="First One">
                        </div>
                        <div class="right-content">
                            <h4>Basic Fitness</h4>
                            <p>basic fitness course is include the correct way to be health, and some advice in general
                                let's start <br>
                                1.<strong>Exercise Daily:</strong> Exercise daily for at least an hour<br>
                                2.<strong>Eat the Right Foods and Portion Each Meal:</strong> try to stay away from
                                sweets, will not help you get in shape<br>
                            </p>

                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="assets/images/sports1.png" alt="second one">
                        </div>
                        <div class="right-content">
                            <h4>Yoga Training</h4>
                            <p>Yoga is a mind and body practice to meditation or relaxation. it is an ancient practice
                                in India.<br>
                                Various styles of yoga combine physical postures, breathing techniques, and meditation
                                or relaxation.<br>
                                <strong>Yoga</strong> depends on breathing techniques to promote mental and physical
                                well-being.

                            </p>
                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="assets/images/sports2.png" alt="third gym training">
                        </div>
                        <div class="right-content">
                            <h4>Basic Muscle Course</h4>
                            <p>Credit goes to <a rel="nofollow" href="https://www.youtube.com/watch?v=BbZtvU3u5CE"
                                    target="_blank">Youtube Video</a> use this video in this course to build well</p>
                            <a href="https://www.basic-fit.com/en-fr/home" class="text-button">Discover More Video
                                Here</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="features-items">
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="assets/images/sports3.png" alt="fourth muscle">
                        </div>
                        <div class="right-content">
                            <h4>Training to be fitness</h4>
                            <p>If you wish to be fitness you can follow up via this website, please feel free to join
                                us. We appreciate it a lot.<br>
                                because physiologically, muscle is, well, muscle. Some of us have less, some have more,
                                and we each have varied amounts of what are called<br>
                                fast-twitch and slow-twitch muscle fibers.
                            </p>

                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="assets/images/sports4.png" alt="training fifth">
                        </div>

                        <div class="right-content">
                            <h4>Advanced Muscle Course</h4>
                            <p>You may want to browse more Image and video and more details to build up your muscle you
                                can visit this website<br>
                                In the case of drop sets, then, the idea is to push your muscles to their breaking <br>
                                and do it again for good measure
                            </p>
                            <a href="https://www.muscleandperformance.com/training/advanced-training-techniques-11020/"
                                class="text-button">Discover More Training Video and advice</a>

                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="assets/images/sports6.png" alt="gym training">
                        </div>
                        <div class="right-content">
                            <h4>Body Building Course</h4>
                            <p>this course divided in two type : first one to shapping your body, the second is to build
                                and motivate your body</p>
                            <a href="#" class="text-button">Discover More</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- ***** about us body Item End ***** -->