

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
html,
body {
  background: #fff;
  font-family: 'Poppins', sans-serif;
}

::selection {
  background: #ed563b;
  color: #fff;
}

::-moz-selection {
  background: #ed563b;
  color: #fff;
}

@media (max-width: 991px) {
  html, body {
    overflow-x: hidden;
  }
  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}

.section-heading {
  text-align: center;
  margin-top: 140px;
  margin-bottom: 80px;
}

.section-heading h2 {
  font-size: 28px;
  font-weight: 800;
  color: #232d39;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.section-heading h2 em {
  font-style: normal;
  color: #ed563b;
}



.dark-bg h2 {
  color: #fff;
}

.dark-bg p {
  color: #fff;
}



#features {
          margin-bottom: 80px;
        }
        
        .feature-item {
          display: inline-block;
          margin-bottom: 60px;
        }
        
        .feature-item .left-icon img {
          float: left;
          margin-right: 30px;
        }
        
        .feature-item .right-content {
          display: inline;
        }
        
        .feature-item .right-content h4 {
          margin-top: 0px;
          margin-bottom:  7px;
          letter-spacing: 0.25px;
          color: #232d39;
          font-size: 19px;
          font-weight: 600;
          text-transform: capitalize;
        }
        
        .feature-item .right-content a.text-button {
          margin-top: 7px;
          display: inline-block;
          font-size: 13px;
          text-transform: uppercase;
          color: #ed563b;
          font-weight: 500;
        }

        

        @media (max-width: 992px) {

          .main-banner .caption h2 {
            font-size: 64px;
          }
          #features {
            margin-bottom: 110px;
          }
          #features .feature-item {
            margin-bottom: 30px;
          }
          #our-classes .tabs-content {
            margin-left: 0px;
            margin-top: 30px;
          }
          .trainer-item {
            margin-bottom: 30px;
          }
          #contact-us #map {
            margin-bottom: -7px;
          }
          #contact-us .contact-form {
            padding: 30px;
          }
          #contact-us .contact-form #contact {
            padding: 30px;
          }
        
        }
        
        @media (max-width: 450px) {
          .feature-item .right-content a.text-button {
            margin-left: 130px;
          }
        }