
<app-admnavbar></app-admnavbar>
<app-admsidebar></app-admsidebar>
<div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">Messages</li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class=container>
      <div class="cards">

<app-cards *ngFor="let card of msgS.data" [contactId]="card.contactId"
 [name]="card.name" [email]="card.email" [subject]="card.subject" [message]="card.message"></app-cards>
 </div>
 </div>
 
